<div class="container">
    
    
<form>
        <label class="text-white">Username:</label>
        <input [(ngModel)]="username" type="text" style="font-size: 1.5rem;" name="username" >
        <br/><br/><br/>
        <label class="text-white">Password:</label>
        <input [(ngModel)]="password" type="password" style="font-size:1.5rem;" name="password" >
        <br/><br/><br/>
        <input type="submit" value="Submit" style="font-size: 1.75rem;" (click)="onSubmit()">
        <br/>
       
        
</form>
    
</div>
